.geologica {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Geologica;
  color: #2c2c2c !important;
  line-height: 120%;
  letter-spacing: 0%;
}
.blue {
  color: #4699f9;
  text-decoration: none;
}
header {
  margin-top: 32px;
  margin-bottom: 78px;
}

.img-top {
  max-width: 554px;
  width: 90%;
}
.title {
  margin-top: 39px;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 54px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
.button-help {
  width: 238px;
  margin-top: 26px;
  border-radius: 24px;
  padding: 20px 56px;
  background: #4699f9;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}

.button-help:hover {
  cursor: pointer;
}
.video-title {
  padding-top: 100px;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  span {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 120%;
  }
}
.cards {
  margin-top: 129px;
  margin-bottom: 138px;
}
.acard {
  padding: 42px;
  background: #f2f2f2;
  border-radius: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3 {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-top: 0;
    margin-bottom: 65px;
  }
  p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 0;
    margin-top: auto;
  }
}
.surgery {
  padding: 76px 100px;
  background-image: url(./img/frame.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  h3 {
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
  }
  .cena {
    padding: 25px 42px;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    background: #f2f2f2;
    max-width: 800px;
    width: 90%;
    border-radius: 24px;
    margin-top: 54px;
    span {
      font-weight: 700;
      .red {
        color: #f74074;
      }
    }
  }
}

.founds {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin: 129px 100px;
}
.help {
  background: url(./img/frame1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  padding: 42px;
  .help-card {
    background: #ffffff;
    padding: 42px;
    border-radius: 24px;
    min-height: 380px;
  }
  h3 {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    margin-bottom: 40px;
  }
  h4 {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28px;
    margin-bottom: 20px;
  }
  p {
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
  }
  .rek {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    margin-top: 90px;
  }
  .bf {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    text-align: center;
    padding: 50px 0;
  }
}
.thank {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  margin-top: 128px;
  margin-bottom: 48px;
  text-align: center;
}
.img-bottom {
  max-width: 780px;
  width: 90%;
}
.remarka {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  text-align: center;
  width: 90%;
  max-width: 650px;
  margin-top: 48px;
  margin-bottom: 125px;
}
footer {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background: #4699f9;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  color: #ffffff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
